html, body {
    font-family: 'Oswald', sans-serif;
    background-color: #fadadd;
    text-align: center;
    min-width: 320px;
    font-size: 1.2em;
  }
  
  #container {
    background: rgb(250, 250, 250);
    width: 600px;
    border-radius: 25px;
    margin: 0 auto;
    padding: 20px;
     
  }

  
  .recommend {
    float: left;
    margin-right: 10px;
  }
  
  #submit {
    background-color: aquamarine;
    border-radius: 4px;
    font-size: 1.1em;
    height: 50px;
    width: 110px;
    margin: 10px;
    border: 2px solid;
    padding: 5px;
    cursor: pointer;
  }
  
  .dropdown {
    height: 35px;
    width: 140px;
    padding: 5px;
    margin: 10px;  
    margin-top: 15px;
    border-radius: 2px;
  }
  
  .radio, .checkbox {
    position: relative;
    left: -43px;
    margin-left: 10px;
    display: block;
    padding-bottom: 10px;
  }
  
  select {
    border: 3px solid #f9e79f;
  }

  form {
    text-align: center;
    padding: 2.5rem 0.625rem;
    border-radius: 0.25rem;
  }
  
  .form-group {
    align-content: center;
    margin: 0 auto 1.25rem auto;
    padding: 0.25rem;
  }
  
  
  
  .input-radio,
  .input-checkbox {
    display: inline-block;
    margin-right: 0.625rem;
    height: 1rem;
    width: 1rem;
  }
  
  .input-textarea {
    min-height: 120px;
    width: 50%;
    padding: 0.625rem;
    resize: vertical;
  }
